<header>
    <nav class="menuPrin">
      <div class="conPerfil"><a href="perfil.html">>> Mi perfil</a></div>
      <ul>
        <li><a href="index.html">INICIO</a></li>
        <li><a href="acerca-de.html">ACERCA DE</a></li>
        <li class="logo"><a href="index.html"><%= image_tag "logo.png" %></a></li>
        <li><a href="servicio.html">SERVICIO</a></a></li>
        <li><a href="contactenos.html">CONTACTENOS</a></a></li>
      </ul>
    </nav>
</header>